body {
    margin-top: 0;
    background-color: rgb(128, 141, 159);
    font-family: Arial, Helvetica, sans-serif;
}

#page {
    position: relative;	
    height: auto;
    min-height: 785px;
    min-width: 640px;	
    max-width: 850px;

    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    background-color: white;
    border: 1px solid rgb(119, 75, 77);
}

.header {
    height: 1.5em;

    padding: 1em 0;
    background-color: blue;

    color: white;
    text-align: center;	
    font: 2em/1.25em Arial;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 9em;

    padding: 6em 1em 0 1em;
    border: 1px solid blue;

    text-align: center;
    color: blue;
    font: 1em/1.5em Arial;
}

.nav h1 {
    margin: 1.5em 0 0.75em 0;

    font: bold 1.25em/1em Arial;
}

.nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
    text-decoration: none;
}

.nav ui {
    list-style-type: none;
}

.loginside {
    width: 100%;

    border: 2px solid blue;
    padding: .65em 0.25em 3em 0.25em;
    margin-top: 1.5em;

    text-align: left;
    font: bold 0.75em/1em Arial;
}
.loginside.loggedin {
    padding: .65em 0.25em 1em 0.25em;
    
    font: bold 0.75em/1.35em Arial;
}

.loginside h1 {
    margin: 0;
}

.loginside form label {
    display: inline-block;
    width: 6em;
    text-align: left;
    padding: 0;
    float: left;
    margin-top: 1.25em;
}
.loginside form input {
    display: inline-block;
    float: left;
    width: 10em;
    margin: 0.25em;
}
/*.loginside form input[text] {
    width: 6em;
}*/
/*.loginside form select {
    float: left;
}
.loginside form textarea {
    float: left;
    margin-bottom: .5em;
}
.loginside form br {
    clear: left;
}*/

.maincontent {
    position: relative;
    height: auto;

    background-color: white;
    margin-left: 13em;
    padding: 0 2em 3em 0;
}

.maincontent h1 {
    max-width: 80%;

    color: blue;
    right: 0;
}

.maincontent h2 {
    color: blue;
}

.maincontent p {
    color: blue;
}

.maincontent label {
    color: blue;
}

.maincontent homepicture {
    width: 85%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: blue;	
    padding: 0.75em 0;

    color: white;
    text-align: center;
    font: italic 0.75em/0.75em Arial;	
}

form label {
    width: 6.5em;
    text-align: right;
    padding-right: .5em;
    padding-bottom: .5em;
    float: left;
}
form input {
    float: left;
}
form input[text] {
    width: 15em;
}
form select {
    float: left;
}
form textarea {
    float: left;
    margin-bottom: .5em;
}
form br {
    clear: left;
}