h1, h2, p, label {
    color: purple;
}
body {
    margin-top: 0;
    background-color: rgb(128, 141, 159);
    font-family: Arial, Helvetica, sans-serif;
}
#page {
    width: 760px;
    margin:  auto;
    background-color: white;
    border: 1px solid rgb(119, 75, 77);
    padding: 1em;
}
form {
    margin: .5em 0 2em;
}
form label {
    width: 8em;
    text-align: right;
    padding-right: .5em;
    padding-bottom: .5em;
    float: left;
}
form input {
    float: left;
}
form input[text] {
    width: 15em;
}
form select {
    float: left;
}
form br {
    clear: left;
}
