form label {
    width: 6.5em;
    text-align: right;
    padding-right: .5em;
    padding-bottom: .5em;
    float: left;
}
form input {
    float: left;
}
form input[text] {
    width: 15em;
}
form select {
    float: left;
}
form textarea {
    float: left;
    margin-bottom: .5em;
}
form br {
    clear: left;
    
}
